[2016-12-12 12:36] ckaldemeyer opened #1 "Can this repository be deleted or captured?"
I would like to have a repository to collect/exchange/discuss ideas arround the extension of oemof but apart from the standard repository oemof/oemof since some discussions might exploit the scope of the standard repository.

The first purpose would be to collect, sort and discuss ideas and formulations arround heat technologies that should/could be integrated in oemof.

Other purposes might appea

[2016-12-12 12:38] simnh commented on #1
feel free....I like sandbox better ;)

[2016-12-12 12:59] ckaldemeyer commented on #1
Already hijacked as "sandbox" :D

[2016-12-12 13:03] #1 closed

[2016-12-12 13:39] ckaldemeyer opened #2 "oemof heat modelling: technogies that should be representable in future (to be implemented as classes (blocks) or via the network-logic)"
On the last [user meeting](https://github.com/oemof/oemof/issues/241) we discussed different technologies that should be representable either by implementing them or by describing them in the network logic. There's also a research project coming which will extend oemof for heat modelling that probably starts next summer.

This issue is meant to provide an overview about the current state and futur

[2016-12-12 13:46] ckaldemeyer opened #3 "oemof heat modelling: general optimization capabilities that are interesting in future"
MILP-extension for heat modelling and generally:

- Start costs
- Min./max. run- and downtimes
- Piecewise linear terms like fuel costs/consumption
- Coupling of investment variables e.g. when investment in transmission capacities takes place, both flows have to get the same investment capacity volumes
- Building groups of flows that can be switched of e.g. when a technology is represented within

[2016-12-12 13:52] ckaldemeyer commented on #3
Runetime reduction techniques such as https://github.com/oemof/oemof/issues/210 and https://github.com/oemof/oemof/issues/200 are of interest, too for MILP problems in order to reduce the runtime..

[2016-12-12 14:03] ckaldemeyer commented on #2
One thing I forgot:

We had the idea of thinking in "generic characteristics" of components rather than explicit formulations where possible.

Doing this, a component can have different real world represantations and different "simple" components can be combined to model more complex components via the network logic..

[2016-12-13 12:34] ckaldemeyer commented on #2
I have created a [wiki page](https://github.com/oemof/sandbox/wiki/Overview-of-heat-technologies) now and will start to collect literature there.

[2018-11-05 10:32] simnh opened #4 "Remove this repo?"
Has not been used since two years

[2018-11-07 09:35] ckaldemeyer commented on #4
We now use it to collect renewable DH system components

[2018-11-07 09:35] #4 closed

[2018-11-07 09:36] #2 closed

[2018-11-07 09:37] ckaldemeyer commented on #3
I guess we have integrated most of this now ;-)

[2018-11-07 09:37] #3 closed

[2018-11-07 09:39] uvchik commented on #2
I would not use the wiki but the rst files. This makes it much easier to reuse the information later in the oemof documentation.

[2018-11-07 09:40] ckaldemeyer commented on #2
My comment was from December 2016 and I agree with you concerning the new purpose ;-)

[2018-11-07 09:41] ckaldemeyer commented on #2
By the way there was a strong consense in renaming the repository using minuses so I just did it!

[2018-11-07 09:42] uvchik commented on #2
:rofl:

[2018-11-07 09:43] uvchik commented on #2
Feel free it is just a first sketch....

[2018-11-12 11:03] uvchik opened #6 "webhook"
Readthedocs told me recently: "The project oemof_heat_components doesn't have a valid webhook set up, commits won't trigger new builds for this project."

Who would add a webhook?

[2018-11-16 10:00] ckaldemeyer commented on #6
I did not..

[2019-09-30 12:08] jnnr commented on #6
I had a look at readthedocs. There is a webhook and there are recent builds. Can the issue be closed?

[2019-09-30 13:33] jnnr opened #11 "License is missing"
This repo needs a license. I suppose we take the same license as for most other repos in oemof, GPL-3.0?

[2019-09-30 13:40] jnnr opened #12 "Readthedocs does not create apidocs"
It would be helpful if the docs on the api is built automatically, as in oemof/oemof:

https://github.com/oemof/oemof/tree/dev/doc/api

Edit: Locally, building the apidocs work. However, readthedocs fails. See below for an error log.

[2019-09-30 13:47] jnnr opened #13 "We do not have a docs template for new components"
The documentation of the new components should be consistent across the different components. To get there, we need some kind of template. Here a first draft:

* Scheme of the component  (e.g. flow diagram).
* Description.
* Link to docstrings for equations (as e.g. https://oemof.readthedocs.io/en/stable/oemof_solph.html#extractionturbinechp-component).
* Insightful output graphics (the same as in

[2019-09-30 13:53] p-snft commented on #11
Pick the most permissive, every author agrees to. Re-licensing to a less permissive one is easy.

[2019-10-01 08:34] #6 closed

[2019-10-01 09:41] uvchik commented on #11
I would prefer MIT. See https://github.com/oemof/organisation/issues/50.

[2019-10-01 09:42] uvchik commented on #12
You can use sphinx-apidoc locally and push the results to the repository. The result should look similar to what you see in oemof.

[2019-10-05 08:53] jnnr commented on #11
I am ok with MIT.

[2019-10-05 09:01] jnnr commented on #11
@uvchik  :heavy_check_mark:
@ckaldemeyer
@FranziPl
@jakob-wo
@jnnr  :heavy_check_mark:

[5] All
[2] MIT: @uvckik, @jnnr

[2019-10-05 09:45] uvchik commented on #11
I edited the list and added @Pyosch because of the pending PR #7

[2019-10-07 11:17] jakob-wo commented on #11
Why is that?
I imagine it to be difficult to re-license a repo after having agreed on a permissive one. On one hand I expect heavy discussions if some contributers want a roll-back after some time. And on the other hand every one who starts including MIT-code now will be in trouble if later versions are released under a more restricted license. Don't you think so?

I am still not sure whether we s

[2019-10-07 11:28] p-snft commented on #11
It is possible to license additional contributions to a MIT codebase under e.g. LGPL and then to (re)distribute the new collection (as a whole) under LGPL. However, a given license cannot be revoked. So, whoever got the MIT-Licensed code can continue to use it. A well-known example is [Cedega](https://de.wikipedia.org/wiki/Cedega#Kritik): The software marketed a Software based on a MIT-licensed co

[2019-10-07 14:02] uvchik commented on #11
It is not allowed or at least a grey zone to use solph, feedinlib, windpowerlib in other programs that do have a more permissive licence than the GPLv3. Therefore it is not useful to have a restrictive licence in a basic library. The GPLv3 could be useful for program which is not intended to be integrated by others.

I is my goal that oemof can be used as easy as possible to create energy models a

[2019-10-08 04:48] p-snft commented on #11
Adding to that: The Free Software Foundation, that authored the GPL, advices not to use it for libraries. Instead, they created the aforementioned LGPL, which allows free usage of the library (as a whole) also for e.g. MIT-licensed models. When you, @jakob-wo, dislike the idea that someone applies changes to oemof but does not grant the same freedoms as we do, the LGPL is what you want. However, w

[2019-10-10 12:14] jakob-wo commented on #11
Thank you both, @p-snft and @uvchik, for your statements and explanations.

I do support to license this repo under MIT.

[2019-10-10 15:40] #11 closed

[2019-10-10 16:14] p-snft commented on #11
@FranziPl: I misinterpreted your consent in https://github.com/oemof/organisation/issues/50 as one to thermal as well. I hope, this was Ok.

[2019-11-14 16:31] c-moeller opened #23 "Release of v0.0.1"
We set a milestone for the first release of oemof-thermal by December 24th.

@oemof/oemof-heat Let's use this issue to discuss what need to be done to achieve this.

[2019-11-14 16:47] jnnr commented on #23
Thanks for bringing this up. The release should contain the components that are in review at the moment.

#7
#16
#19
#20
#21
#22

What is the status of #7?

For the actual release process, we can consult https://github.com/oemof/oemof/wiki/How-to-release

[2019-11-14 21:09] uvchik commented on #23
:joy: :santa: :christmas_tree:

[2019-11-25 15:21] jnnr commented on #23
I adapted the date for the release to a more realistic one (16/12/2019). Still, we can regard it as a christmas present to ourselves :)

To be able to present the new features at the upcoming dev meeting, we aim to finish reviews and merge into dev until 04/12/2019.

[2019-11-27 16:31] FranziPl commented on #12
If I define a function with just one return value, the category "return type" is automatically created in the docstring. I have no idea, how to avoid it. Can you help me?

[2019-12-06 15:29] jnnr commented on #12
I noticed that in readthedocs, there is a checkbox asking if you want to install the package using setup.py that was unchecked before. When I check it, readthedocs installs oemof and the dependencies into its virtualenv. As a consequence, the import error changes, but does not disappear:

No module named 'oemof.thermal'

See the full log here:

https://readthedocs.org/api/v2/build/10077785%20%20.t

[2019-12-06 15:32] jnnr commented on #12
As a side note: Installing via setup.py triggers installing a lot of packages which takes extra time and resources. Would be putting oemof to autodoc_mock_imports a good way to avoid that?

[2019-12-09 12:28] jakob-wo opened #25 "There is no description/overview of the examples in the documentation"
Till now there is no overview of the available examples.
I propose we add a section "Examples" in the docu (readthedocs) with a list of the examples with (at least) a short description.

[2019-12-10 12:09] jakob-wo commented on #13
I propose to use a couple of subsections (sub-menu items). Have a look at the documentation of the module "Compressions Heat Pumps and Chillers" to get an impression.

In particular, I would like to draw your attention on the first subsection I would like to establish: "Motivation and possible application". Giving a reader the explanation why we actually developed this module and what we intended

[2019-12-10 14:01] jnnr opened #27 "Readme is (almost) empty"
There is no text in the README.rst yet. We should add a short description of the project so that the users know what to expect from this package.

[2019-12-10 16:22] c-moeller commented on #27
Do we want do use this picture? If so, we only have to change oemof.solph to oemof.thermal.

![oemof_solph_komponente_v5](https://user-images.githubusercontent.com/8330132/70547572-64865100-1b71-11ea-9d24-6f8d08dd3751.png)

[2019-12-11 09:53] jnnr commented on #27
I like the pictures of the components. However, I rather see this graphic as part of presentations and not so much as a helpful picture for users of a tool to understand what it can do for you. I had a look at different projects. Most of them do not have pictures in the readme. Pypsa is an exception - it shows some model results: https://github.com/PyPSA/PyPSA

[2019-12-11 10:01] jnnr commented on #27
More important is a text that describes the package. It could be structured like this
* About
* Quickstart
* Documentation
* Contributing
* What's new
* License

[2019-12-12 11:47] birgits commented on #12
@jnnr I had a look at it and the documentation didn't compile locally for me. I used the dev branch. Which one did you use?
I got it to compile when I changed the path in automodule to `.. automodule:: src.oemof.thermal.compression_heatpumps_and_chillers`. There might be a way to allow `.. automodule:: oemof.thermal.compression_heatpumps_and_chillers` but I'm not sure where that could be set. I al

[2019-12-12 13:14] jnnr commented on #12
@birgits and I talked and found out that the reason why it did not compile locally because the package was not installed. With the package installed, everything works locally. I tried the same again on a pytho3.7 environment - still could not reproduce the error that shows in rtd. Is there anything else we can test to understand what is going wrong?

[2019-12-12 13:37] jnnr commented on #13
I like the idea of subsections. They give structure and make it easy to get an overview. I would propose different names for the headlines, though. "Motivation and possible application" seems to refer to the motivation of the devs that lead them to develop that piece of code. I would expect such a thing in a paper, but not in the documentation of a module.

I expect the reader wants to know: What

[2019-12-12 14:00] jakob-wo commented on #25
PR #26 added an overview. I will close this Issue.

[2019-12-12 14:00] #25 closed

[2019-12-12 14:16] jakob-wo commented on #13
In fact, that is my very intention. I want to tell people why we wrote that pieces of code.

Definitely. I think telling people about our intention is a way to do so.

[2019-12-12 14:41] gnn commented on #12
That was a really nice comment. It made me aware of the fact that there is a difference between building documentation based on an installed package versus doing it based on checked out sources. The `src` folder is only available in checked out sources, so when it works with that path, that's an indicator of the fact that you only have the local sources available and that they are not properly ins

[2019-12-13 15:06] FranziPl commented on #27
I am not sure about the "Quickstart". It is also a collection of calculations, which can be used with other packages, so maybe this is not suitable. I am not sure, if we should skip it or if we should rename it and define, what is part of this section.
But I would agree to the rest of the structure.

[2019-12-16 10:33] jnnr commented on #27
Thanks for your feedback. Quickstart would just comprise some few lines on how to install and how to import from packages. If you have time, have a look at the associated PR #28 and tell me what you think.

[2019-12-16 11:55] jnnr opened #30 "Readthedocs project slug is oemof-heat-components, not oemof-thermal"
Because of the history of the repo, the project slug of the docs is oemof-heat-components rather than oemof-thermal. Therefore, the docs appear under https://oemof-heat-components.readthedocs.io/en/latest/

I created a second, new project in readthedocs which builts the docs here:
https://oemof-thermal.readthedocs.io/en/latest/

TODOs @oemof/oemof-heat:
* [x] Check if the docs at the new url are c

[2019-12-16 11:57] #27 closed

[2019-12-16 18:09] jnnr opened #31 "Docs index and module index are empty"
Index is empty, module_index leads to 'maze found'.

[2019-12-17 11:09] jnnr commented on #13
I guess we are aiming for the same: The docs should lower access barriers and be transparent. Of course it is essential to communicate the intention behind a tool.

However, I would suggest to spare the reader the long story of the origin and the whole process of our efforts. Make a long story short. Tell them about the result they can see in front of them.

[2019-12-17 11:26] jnnr commented on #12
Thanks, @birgits and @gnn! That was very helpful.

[2019-12-17 11:26] #12 closed

[2019-12-17 12:21] jakob-wo commented on #13
Well, I think we have a missunderstanding here....
The sentence (a single sentence!) that I suggested to describe the motivation is:

 For the module compressions_heat_pumps_and_chillers:

_"This module was developed to provide COP calculations based on temperatures for energy system optimizations with oemof.solph."_

Or in case of the CSP:

_"This module was developed to provide the heat of a par

[2019-12-17 13:25] jnnr commented on #30
The move was completed and I deleted the old docs.

[2019-12-17 13:25] #30 closed

[2019-12-17 13:28] jnnr commented on #31
After merging the recent PR, index and module_index have been filled.

[2019-12-17 13:28] #31 closed

[2019-12-17 14:20] c-moeller commented on #23
* [ ] Remove png files from CSP and flat plate collector example
* [ ] Remove lp file from stratified storage example
* [ ] Correct plot in CSP example (there is an empty plot)

[2019-12-17 14:22] jnnr commented on #23
* [ ] install_requires are not installed
* [ ] Example overview lacks flat plate collector

[2019-12-17 14:31] c-moeller commented on #23
What does the footnote "1" mean in the examples doc?

[2019-12-17 14:34] FranziPl commented on #23
[1] Example uses *oemof.solph*

[2019-12-17 14:40] jnnr commented on #23
The numbers 1,2,3,4,5 are the links back from where the footnote came.  Might be useful for a large document. In this case this feature is rather confusing.

[2019-12-17 15:38] c-moeller commented on #23
We are now just before merging the release branch into the master branch. I will start with this tomorrow and complete the release.

[2019-12-17 16:19] c-moeller opened #33 "It is not good to have the demandlib dependency within the examples"
This is the case for the solar_thermal_collector.

* [x] Create heat demand time series with the demandlib beforehand.
* [x] Remove demandlib dependency from the repository.

[2019-12-19 14:08] c-moeller commented on #23
oemof.thermal is now on Pypi and the release (almost) completed:
https://pypi.org/project/oemof.thermal/0.0.1/

Does anyone know if the documentation is built automatically? Till now there is no v0.0.1 at readthedocs: https://oemof-thermal.readthedocs.io/en/latest/

There are some few points I would like to do in the beginning of January:
* [ ] Wordpress news post --> I would like to do that in th

[2020-01-06 10:40] jnnr commented on #33
It seems like this has been fixed, am I right?

[2020-01-06 10:48] jnnr opened #34 "There are no tests"
We do not have any tests yet. It would be very helpful for developers to have some automatic tests. I suggest that we do the following: First, think about how reasonable tests for the package would look like. Then, the contributors to the different modules write some tests for the functions.

TODO

* [ ] Write tests for solar_thermal_collector

[2020-01-06 10:54] jnnr opened #35 "There are no facades for components in oemof-thermal yet"
At the past dev meeting in Berlin, we had a session on facades in oemof. The session is documented here: https://github.com/oemof/organisation/wiki/Meeting-December-2019#facades and the decisions are summarized in this issue: https://github.com/oemof/oemof/issues/594

The proposals that emerged from the session could be implemented as a test. If we like it, we could establish it in the next releas

[2020-01-06 11:03] jnnr opened #36 "So far, there are only preprocessing functions"
So far and to my knowledge, the modules contain functions for preprocessing only. PR #16 introduces a function for allocating emissions in CHP. Maybe there are other situations in which postprocessing functions can help. We should discuss if this demands a change the structure of the modules or the docs.

[2020-01-06 13:40] c-moeller commented on #33
Yes

[2020-01-06 13:40] #33 closed

[2020-01-07 08:18] jakob-wo commented on #36
I would like to talk about the terminology first because I do not fully agree on your view that the modules would contain functions for preprocessing only. Preprocessing is what we intent to use these modules for (mainly as input for a oemof.solph component). But they partly can be used as stand-alone calculations as well and other users may use them completly different than we do. In that case th

[2020-01-07 08:43] jakob-wo commented on #36
Regarding the function for allocating emissions in CHP (#16) I see a similar situation. I guess postprocessing is what you intent to use that function for. When I saw PR # 16 the first time I had another usage in mind: For an optimization I need to have the share of emissions allocated to the heat supply from a CHP to make sure this heat supply fullfulls requirements (e.g. limited emissions in a y

[2020-01-07 09:40] jnnr opened #39 "Module headers are not all the same format"
While reading the api docs I noticed that the csp module header has a different form than the others. Maybe there are other inconsistencies? A quick check will be helpful.

[2020-01-07 10:53] jakob-wo opened #40 "There are mistakes in the strat. therm. storage docu"
I found some mistake in die docu. (At least I think they are mistakes.)

1. The parameter table lists Gamma and Delta. As attribute names `fixed_losses` and `fixed_absolute_losses` are given. In the code I only find `fixed_losses_relative` and `fixed_losses_absolute` instead.

[2020-01-07 12:13] FranziPl commented on #40
I think, we should open a PR, so we can make suggestions directly in the code.

[2020-01-07 13:21] jnnr commented on #23
Hey, thanks again for the great work and the all little and big efforts to make the first release happen!
:) Only a few things missing before it is complete.

Yes, that works. If you select 'master', you get the v0.0.1 version of the docs. 'Latest' corresponds to the dev branch.

There is a what's new file present, which just tells that this is the first release. It might be unusual to update that

[2020-01-08 10:26] jnnr commented on #39
Would be good to compare to oemof.solph's headers to ensure things are done right.

[2020-01-09 15:47] SabineHaas opened #44 "Rename thermal loss parameters of flat plate collector"
c_1 and c_2 of the [flat plate collector](https://github.com/oemof/oemof-thermal/blob/dev/src/oemof/thermal/flat_plate_collector.py) should be named a_1 and a_2 like in the documentation and in data sheets of solar thermal collectors.

[2020-01-13 10:56] jnnr opened #45 "Release v0.0.2"
We plan to have a second release of oemof.thermal around springtime. This brings the chance to release some some bug fixes and corrections of errors in the docs, but also new features. Please check your issues and PRs and assign them to the milestone if you think that that's a fit.

These features are planned to be part of the new release:
* [x] Add tests,
* [x] Add facades for the new components,

[2020-01-13 11:31] jnnr commented on #23
I logged into zenodo and added oemof.thermal. It suggests me to create a first release, but I cannot make it recognize the existing v0.0.1 release. I will give an update as soon as I know more.

[2020-01-13 13:59] jnnr commented on #23
I could resolve the problem by checking out the release, creating a new branch, removing the release tag locally and on the remote. Then I could reassign the release to the newly created branch. This triggered zenodo, so we have a zenodo entry now. Thanks to uvchik!

[2020-01-13 14:00] jnnr commented on #23
Thereby, the release is completed and I will close the issue.

[2020-01-13 14:00] #23 closed

[2020-01-13 14:41] jnnr opened #46 "Docs pdf has bugs"
On oemof-thermal.readthedocs.io, you can download document versions of the docs if you click on latest:

![Screenshot_2020-02-25_15-06-28](https://user-images.githubusercontent.com/32454596/75254325-80001000-57e0-11ea-8d39-4c1c32feebae.png)

There is a pdf, an epub and a html version.

There are the following bugs:

* The title is 'oemof heat documentation', not oemof.thermal. Should be fixed by c

[2020-01-14 08:33] FranziPl commented on #39
I am not sure, what you mean. Is it another formatting (I cannot see that), or do you mean, I should write "concentrating_solar_power module" instead of "csp module".
If it is the second, I will change it.

[2020-01-14 08:33] FranziPl commented on #39
Shouldn't we have an API also for the flate plate collector?

[2020-01-14 09:34] jnnr opened #48 "Apidocs for solar thermal collector is missing"
We should add the missing api documentation in api/oemof-thermal.rst
When doing that, we can adapt the order of the modules to alphabetical.

[2020-01-14 09:34] jnnr commented on #39
That is true. I opened a separate issue #48 for that.

[2020-01-14 09:46] jakob-wo commented on #48
@c-moeller: you are most familiar with that component and its documentation. Could you add the API-docu?

[2020-01-14 09:49] jakob-wo commented on #48
I just noticed the module is called `flat_plate_collector.py`. The section name in the documentation and the folder holding the examples of that module should be called the same way.

[2020-01-14 11:15] jakob-wo opened #50 "The module name "chp" does not comply with the (unwritten) naming standard"
First, the module name `chp.py` is an abrevation unlike the other names where "thermal_storage" is used instead of TES, and "concentrating_solar_power" instead of CSP. In my opinion it would be nice to rename the module `combined_power_and_heat.py`.

Second, we could even use the renaming to find a more appropiate and less missleading name for the module. "CHP" indicates that the module can be use

[2020-01-14 11:22] jakob-wo opened #51 "Not all (pre-)calculations take DataFrames or Series as input"
I was ask if I could make the `compression_heatpumps_and_chillers.py` module take a Pandas.Series (time-indexed) as input and return die COPs as time-indexed Series.

Now I wonder, if that would be a good feature.
It seems to be very useful when using the module as stand-alone calculation but when using the calculation to generate input to a solph.component it has to be a List, as far as I know.

[2020-01-14 11:24] FranziPl commented on #50
What about emission_allocation_of_chp? too long?

[2020-01-21 16:16] FranziPl opened #53 "Travis doesn't test all files in tests"
Travis doesn't test all documents in the tests directory, but only the tests/test_functions.py file.
Can we change this configuration to the whole directory? I would make a PR for that, but I didn't find the place, where it is defined.
@jnnr, can you help me with that? Thanks.

[2020-01-21 16:40] jnnr commented on #53
Can you push the code so I can have a look? I cannot see any new file in your PR. Normally, it should be fine if your new test functions start with the word 'test'.

[2020-01-21 17:08] jnnr commented on #53
It seems that the file has to be named starting with 'test_'.

[2020-01-22 08:05] FranziPl commented on #53
Sorry, I pushed the wrong file, thats why, he didn't it. Now it is working

[2020-01-22 08:05] #53 closed

[2020-01-22 10:35] jnnr commented on #50
I like `cogeneration.py`, as it is shorter and is more general. Maybe `cogeneration_emission_allocation.py` would be fine, too? To decide, I would suggest to think about what developments are planned in the near future that could fit in this module, and choose a suitable name.

[2020-01-22 10:44] jnnr commented on #13
Yes, these sentences are fine and helping. I just suggested to change the headlines (Motivation and possible application), as they remind more of a journal publication than a documentation. The headline _Scope_ seems more concise and gets to the point quicker, I think. The example sentences would fit very well under this headline. Would this combination be a good compromise, @jakob-wo ?

[2020-01-22 10:53] jnnr commented on #48
Thanks for pointing to that. Should the module be called `solar_thermal_collector` or `flat_plate_collector`? I find the former more approachable, but I guess you know better. What's your preference, @FranziPl ?

[2020-01-22 11:11] jnnr commented on #39
To clear things: With this issue I meant the missing headers in all modules with a short description and license info, like in oemof/oemof.

[code]

[2020-01-22 12:18] FranziPl commented on #48
I prefer the first one too. But somewhere in the documentation or docstring it should be pointed out that this only is valid for flat plate collectors.

[2020-01-22 12:21] FranziPl commented on #50
I'm fine with `cogeneration.py`, but I would prefere `cogeneration_emission_allocation.py` as the former implies, that it will calculate the generation and not the emission allocation.

[2020-01-22 12:44] jnnr commented on #48
Ok, then let's go for it. If you like, you can take over the PR #54 and add a describing sentence to the docs.

[2020-01-22 13:26] jnnr commented on #51
Which exact function do you mean? `calc_cops()` works fine with pd.Series, already:

[code]

[2020-01-22 13:27] jnnr commented on #51
But it returns a list, not a Series. Is that what you meant?

[2020-01-22 14:01] jakob-wo commented on #51
yes, that's the point! You will get a list (without time-index) back from the function.

And I did not think about Series when I wrote the function just afterwards I found that it works as well. So when I implemented an input argument check (PR #57) I realized that I need to be aware of other types, as well, apart from list.

That is why I like to have a feedback if we want to make oemof.thermal (

[2020-01-22 14:46] jnnr commented on #51
If we find an easy way to allow for Series and lists, that would be a nice feature.

[2020-01-22 15:28] nesnoj commented on #51
Let me pick this up even though it's a little off-topic. I discussed this recently with @gplssm and @nailend. oemof's [Flow()](https://oemof.readthedocs.io/en/stable/api/oemof.solph.html#oemof.solph.network.Flow) says `numeric` (e.g. in `nominal_value`) which I assume to be a builtin numeric type. This does not include a pandas Series.
However, it actually seems to work.. Should the docs be adjust

[2020-01-22 16:21] jnnr commented on #51
Are you sure that works with nominal value? I just tested it, and it fails with nominal_value as list or Series.

[code]

[2020-01-22 16:23] jnnr commented on #51
Other parameters like `max` accept both scalars and lists or series (numeric (sequence or scalar)) . Scalars are converted to sequences in the background (plumbing.py module).

[2020-01-23 08:29] nesnoj commented on #51
Sorry, my bad. I just picked out one of the numeric inputs and this was the very one where it's not allowed. As you say, I mean the sequence type params such as `actual_value` and `max` - which include builtin type list, tuple and range ([docs](https://docs.python.org/3/library/stdtypes.html?highlight=sequence#sequence-types-list-tuple-range)).

Apparently, all [iterable](https://docs.python.org/3

[2020-01-23 10:16] jakob-wo commented on #13
Yes, a very good one! :)
Thank you!

[2020-01-23 10:19] #39 closed

[2020-01-23 16:33] jnnr commented on #51
Do you think it would help to add  `sequence must be iterable (instance of abc.Iterable) except str` to oemof's docstrings? In that case you should open an issue in oemof/oemof.

[2020-01-24 11:17] nesnoj commented on #51
Done in https://github.com/oemof/oemof/issues/673
Close this one?

[2020-01-24 11:35] jnnr commented on #51
Thanks!
This issue should remain open, as the inital problem of pandas.Series not getting properly processed by the functions in oemof-thermal is not solved yet. I played around with some code that I can post next week.

[2020-01-27 12:27] jnnr opened #58 "Data in csp example cannot be found"
The path in the scripts is given in uppercase letters, therefore the files cannot be found.

[2020-01-27 12:50] jnnr commented on #34
There are PRs underway that introduce tests. Leave this issue open until a test coverage metric is introduced.

[2020-01-27 15:10] jnnr commented on #48
@FranziPl: Can you please add the short sentence as you imagine it to the branch of #54, so we can merge the fix soon?

[2020-01-27 15:32] jnnr opened #61 "Schematic of components does not follow the same logic for all components"
The schematics of the 4 components in this package follow a different logic. Where the ones for stratified_thermal_storage and compression_heat_pumps_chillers show the energy/mass flows and balance in a diagram, the solar_thermal_collector and concentrating_solar_power rather show information flows.

If I remember correctly, we said that we would like to follow the former concept (energy/mass flow

[2020-01-29 10:52] #58 closed

[2020-01-29 12:11] #48 closed

[2020-01-29 12:15] jnnr commented on #48
@FranziPl: Thanks for approving #54. I merged it now to get this part finished. I actually thought you would add something according to what you proposed:

In the docs, it already says that it is a flat plate collector that is modelled. The docstring of the module does not specify this. So if you like, add a sentence in another PR.

[2020-01-29 12:35] FranziPl commented on #44
I renamed the parameters

[2020-01-29 12:35] #44 closed

[2020-01-29 15:24] jnnr opened #63 "Example for storage investments only invests in energy, not power"
As the title says, the present example for investment in thermal storages only optimizes the height and therefore the max. thermal energy content of the storage, not the max. thermal power of charging/discharging.

Question: Is this a good idea, or is it more realistic to size the nominal power with the size?

As far as I know, a rule of thumb is to size the storage in a way that it can provide it

[2020-02-04 14:33] jnnr commented on #46
This could help: https://github.com/godotengine/godot-docs/issues/1352

[2020-02-04 14:34] jnnr commented on #46
In .epub version:
* Image size leads to pixelized appearance
* .svg images are not properly handled either

[2020-02-05 17:00] MaGering opened #65 "Bugs / inconsistencies in the solar thermal collector documentation"
I found bugs / inconsistencies in the solar thermal collector documentation.

1. Equations are missing due to a wrong path in the solar_thermal_collector.rst file
2. There is a name inconsistency between the symbol of collectors inlet temperature in the equation → Index: "collector in", the symbol convention in the documentation → Index: "coll" and the collectors inlet temperature in the table → I

[2020-02-12 09:01] jakob-wo commented on #63
So far I have too little experience with real life storage design to tell wether it is interesting/usefull to couple the max thermal power with the max content. But either ways we should provide a option to model the storage with decoupled values.

[2020-02-12 10:46] jakob-wo commented on #34
What about this Issue? Can we close it?

[2020-02-12 12:15] jnnr commented on #34
There are no tests yet for the solar thermal collector.

[2020-02-12 13:01] jakob-wo commented on #34
Of course, you're right! I somehow missed that package - sorry!

[2020-02-12 13:08] jnnr commented on #34
No problem! Thanks for asking :)

[2020-02-12 14:02] jnnr commented on #50
I thought about it again and it seems to me that cogeneration_emission_allocation is a bit to specific. It could describe the function in the module itself and does not give room for more. Hence I would vote for cogeneration.py.

[2020-02-13 08:08] jakob-wo opened #69 "There is no component yet to model an absorption chiller"
There is no component in oemof that models an absorption chiller.

A simple way it can be done already is using a transformer. For a rough estimation of the cooling capacity or cold production it might be sufficient to model the unit with a constant COP and constant nominal cooling capacity.
For a more realistic examination the temperature dependencies of both the COP and the (actual) max cooling

[2020-02-13 08:27] jakob-wo commented on #69
To give you an impression of how I imagine the precalculations are going to be used with oemof.solph:

![AWP_precalculation_Schema_v02](https://user-images.githubusercontent.com/40822026/74414544-edf02300-4e41-11ea-9174-e98c1c2dc156.png)

As you see, all three calculations (DeltaDeltaT, the max cooling capacity, and the driving heat) have a pair of coefficients (A, E, s_E, r_E, s_G, and r_G) as in

[2020-02-16 16:11] MaGering commented on #65
Solved by merging fix/docs-sections into dev

[2020-02-16 16:11] #65 closed

[2020-02-20 11:15] #50 closed

[2020-02-24 10:55] jnnr commented on #46
@MaGering: Can you have a look at this one? Not urgent, but should be fixed before the next release in mid of March.

[2020-02-24 12:43] jnnr commented on #34
To get a detailed view of the parts of the code that are covered and which not, you can use the following command to generate an report in html form

`pytest --cov --cov-report html`

[2020-02-25 19:00] jakob-wo opened #78 "Tests for different modules are mixed in one test file"
I just realized that the module `test_functions.py` holds tests for the modules `cogeneration.py` and `stratified_thermal_storage.py`.

I would prefere to have seperated test modules (one for each module) named after the module it is testing, e.g.  `test_compression_heatpumps_and_chillers.py` for the module `compression_heatpumps_and_chillers.py`.

This would have two advantages:
1) clear structur

[2020-02-26 13:05] FranziPl opened #79 "The code for the csp is a little rough"
Jann made some good suggestions to improve the code. I will adapt it soon.

Some more comments:

* in concentrating_solar_power.py:
  * The dataframe df already has a timeindex, which is internally replaced. This can lead to errors.
  * Passing df and then telling which column means what is kind of complicated.
    I mean these 3:
    date_col: string, default: 'date'
    irradiance_col: string, d

[2020-02-26 13:08] FranziPl commented on #79
I changed the parameter names tz and x in the #68.
I updated the explanation of the collector_irradiance in #68
I will improve the code in a new PR.

[2020-02-27 14:58] jnnr opened #80 "Missing example of emission allocation with solph"
@jakob-wo

- [ ] Add example with solph.

[2020-03-02 11:58] jnnr opened #82 "Release v0.0.2"
In this issue we plan the next release, scheduled for mid of March 2020.

* For all new features, fixes, etc.: Remember to fill in the information in the whatsnew file.

[2020-03-02 14:59] c-moeller commented on #82
@oemof/oemof-heat Could you please go through all of your issues and PRs and add the v0.0.2 milestone in case they will be part of the next release? That would help me a lot for an overview. Thank you :slightly_smiling_face:

[2020-03-02 15:11] jnnr commented on #78
Hi there, thanks for this issue!

A good test suite will comprise different kinds of tests. Unit tests, integration tests, etc. For oemof-solph, constraint tests play an important role, that are tests that check if the right lp-files are created when creating a component. We will introduce these kinds of tests together with the facades.

It makes absolute sense to keep the tests tidy and sorted fo

[2020-03-03 12:09] ciaradunks opened #83 "'solar_thermal_collector' not included in '__init__.py'"
The import statement:

from oemof.thermal.solar_thermal_collector import flat_plate_precalc

is not working (v.0.0.1), with the following error being displayed:

Cannot find reference 'solar_thermal_collector' in '__init__.py'

[2020-03-05 10:01] FranziPl commented on #83
I cannot reproduce the problem. If I compute the examples, which also uses `from oemof.thermal.solar_thermal_collector import flat_plate_precalc`, it works without an error message.
I have no idea, what the problem is.

[2020-03-05 10:52] jakob-wo commented on #83
It is just the module name that is wrong:

The module is called oemof.thermal.**flat_plate_collector** (not oemof.thermal.**solar_thermal_collector**)

[2020-03-05 12:16] ciaradunks commented on #83
I am currently in the developer branch of v0.0.1, and in this file: **oemof-thermal/examples/solar_thermal_collector/flat_plate_collector_example.py**, it uses the import statement:

`from oemof.thermal.solar_thermal_collector import flat_plate_precalc`

@jakob-wo shall I just change it to oemof.thermal.flat_plate_collector then?

[2020-03-05 12:23] c-moeller commented on #83
@MaGering can you have a look at this? I remember that you adapted the names.

[2020-03-05 13:24] jakob-wo commented on #83
Hi @ciaradunks, I am not sure if I understand you right but I think their is no such thing as a release v0.0.1 of the dev branch. v0.0.1 is a release of the master branch.

I recommend to make sure that the examples are from the same branch (and commit) as the oemof.thermal version you are using.
For example: If you used `pip install oemof.thermal` to install oemof.thermal you will have the master

[2020-03-05 13:50] ciaradunks commented on #83
Hey @jakob-wo, yeah that was the problem! I was actually in the master branch but using the developer examples.

Thanks for your help :)

[2020-03-05 13:50] #83 closed

[2020-03-05 13:58] jakob-wo opened #85 "comments in gitignore file are too specific / too personalized"
The gitignore file holds comments that are personalized for specific users:
[code]
I suggest either
a) to keep that structure but use git-alias to make identification more easily (Franzi --> FranziPl)
or
b) remove user names and list `CSP_data/` and `CSP_results/` under `# results`

Me personally, I prefere option b).

[2020-03-05 14:14] jakob-wo commented on #83
You are very welcome! :)

[2020-03-09 15:01] jnnr commented on #40
This issue seems resolved, can we close it?

[2020-03-11 12:44] c-moeller commented on #13
Is this issue solved with the unified headlines? Or is there some more work to do?

[2020-03-11 12:48] FranziPl commented on #40
Yes, we solved it with #42, so it can be closed.

[2020-03-11 12:48] #40 closed

[2020-03-11 13:02] jnnr commented on #13
In my view, this can be closed.

[2020-03-11 13:04] jnnr commented on #85
A third way would be to use a common directory name for results for all examples, and add results/ to .gitignore.

[2020-03-11 13:09] jnnr commented on #82
Closed in favor of #45

[2020-03-11 13:09] #82 closed

[2020-03-11 17:30] c-moeller commented on #45
Please use the this branch for closed PRs: https://github.com/oemof/oemof-thermal/pull/87

[2020-03-12 12:51] #34 closed

[2020-03-12 17:06] c-moeller commented on #61
Ah, I see I'm already in charge for the solar thermal collector. @FranziPl Do I find your template somewhere so that we can use the same style?

[2020-03-13 08:25] FranziPl commented on #61
In the branch features/improve-docu-pics you find the new scheme. I didn't merge it yet, because I want to adapt the existing picture (block diagram) too, when the facade is done. But the scheme is ready.

[2020-03-17 09:16] jnnr commented on #36
Hey @jakob-wo, thanks for your comments! I guess that you are right - the modules for the different technologies collect functions that can be used to do calculations in different contexts, be it before an optimization, after, or independent from it. We could leave that open. So we have a better understanding of how the modules are organized. Thanks for helping to make that clearer.

 Do you think

[2020-03-17 09:45] jnnr commented on #36
How about this text on the index page of the docs, after Welcome to oemof.thermal's documentation!?

----

oemof.thermal is an oemof library with a focus thermal energy technologies (heat/cool). Its original intention was to be used as a more specialized extension to the components in the optimization framework oemof.solph. However, some of its functions may be useful for their own.

oemof.thermal

[2020-03-17 14:40] jnnr commented on #63
Ok, concluding some more thoughts, the storage should provide these options:

* Invest into nominal_storage_capacity but leaving charging/discharging power fixed
* Invest into nominal_storage_capacity and charging/discharging power with a fixed ratio
* Invest into nominal_storage_capacity and charging/discharging power independently without a fixed ratio

[2020-03-18 16:35] jakob-wo commented on #80
I was thinking about possible examples. But I do not find a realistic application.

Using the emission allocation with solph would make sense if I had a district heating demand that I would cover with a CHP and minimize the CO2-Emissions of the object that creats the demand (using emissions for _variable_costs_) with no regard to the emissions that are linked to the electricity feed-in while heat

[2020-03-18 16:41] jakob-wo commented on #36
That's a great idea!

Here, I would additionally mention that the functions can even be used stand-alone (totally apart from optimization).

And yes, we can close this issue then.

[2020-03-19 08:10] jnnr commented on #36
Ok, cool! Thanks for your feedback. I will include the text in getting started.

[2020-03-19 10:08] c-moeller commented on #61
@MaGering
Thank you!

[2020-03-19 10:54] c-moeller commented on #63
The third one seems to me an unusual case in terms of thermal storages (but I am not an expert). I wonder if we do have this functionality within the oemof cosmos in general. For example in case of hydrogen/methanation this function might be useful, as you can set a fixed electrolyser/methanation unit but leave the storage capacity open. But for those scenarios you could also couple a transformer

[2020-03-20 16:46] #36 closed

[2020-03-25 10:18] #78 closed

[2020-03-25 10:19] #13 closed

[2020-03-25 19:49] ChristophPelsLeusden commented on #63
In my opinion option 3 does not occur in practical applications for thermal storages. It would be of interest if charging/discharging power would drive the overall cost (as it does for the hydrogen example as Caro correctly mentioned). Thus, I do think it is OK to go with the options 1 and 2 only.

[2020-03-26 14:42] FranziPl commented on #51
Just for information, how it is handed in other oemof-thermal components:
The csp needs time indexed series, because the pv-lib, which is used, demands the time index. So in the end input and output has the same time index.

[2020-03-30 11:33] jnnr opened #93 "Examples not clean"
Before the release, the examples should be polished so that they are easier to read. Skimming through some of them, I saw some typos and a different structure for all of them. As we should test them anyway before releasing, we could also take an hour to clean them up.

[2020-03-30 15:25] jnnr commented on #80
Is the primary energy factor related to the PEE in the finish method (Primärenergieeinsparung)?

[2020-03-31 08:43] #85 closed

[2020-04-01 06:59] jakob-wo commented on #93
Good idea!

Do you refer to all examples or could you name some specific that you noticed already?

[2020-04-01 08:02] jnnr commented on #93
Mainly the ones that I did not write and did not review or use yet, which are csp and solar thermal collector. We could share the work and cross-review the examples. What do you think?

[2020-04-01 08:56] c-moeller commented on #93
I think this is a good approach, thanks for pushing this!  However, I would recommend, that the facades must be priority. So from my view, first we need all man and woman power with the facades, and after successfully finishing these, we could start the work on this issue. OK?

[2020-04-01 09:39] jnnr commented on #93
I fully agree.

[2020-04-01 14:53] #46 closed

[2020-04-03 08:25] #61 closed

[2020-04-03 08:49] jnnr opened #95 "Results exist in solar_thermal_collector example"
In the [example for the solar thermal collector](https://github.com/oemof/oemof-thermal/tree/dev/examples/solar_thermal_collector), results have been pushed. This may have been an accident, possibly because gitignore was not set up properly at the time. They should be removed. Do you agree?

[2020-04-03 14:46] jnnr opened #96 "Missing scheme of solar thermal collector in docs"
In #76, a scheme of the solar thermal collector has been added. However, the image was not included in docs/solar_thermal_collector.rst, so it is not shown. In a new PR, the image should be included.

[2020-04-03 15:43] #79 closed

[2020-04-06 08:53] jnnr commented on #93
TODO:

* Order of imports (follow pep8)
* Save example plots in /results, elsewhere or just plt.show()?
* Unify comments that show that a new part of the code starts

[2020-04-06 10:09] jnnr opened #99 "Inconsistant unit specification"
Citing @ciaradunks:

I’ve noticed that the ‘s_iso’ (thickness of isolation) variable is said to be in mm, but in the csv example file it is in m. And then in the function it looks like the input is in mm but then it gets converted to m in line 45 of the ‘calculate_storage_u_value’ function. In the csv file should it actually be in mm?

Thanks for noting this! Can you get an overview and make a pro

[2020-04-08 14:16] jnnr opened #100 "Difference of stratified thermal storage to capacity model or fully mixed model not clear"
There is no clear data or figure that helps to choose if one wants to use the stratified thermal storage or a simpler model for thermal storages. The plots coming out of examples/stratified_thermal_storage.py give an idea about the difference in the concept, but not about the consequences of choosing this component.

Running a typical model with a simple vs. stratified thermal storage for a whole

[2020-04-08 14:28] MaGering commented on #99
I've fixed that in the PR https://github.com/oemof/oemof-thermal/pull/43

'stratified_thermal_storage.csv' contained 0.05 m as a value for s_iso. I've corrected it to 50 mm.

[2020-04-08 14:28] #99 closed

[2020-04-08 15:38] FranziPl opened #101 "examples and docu of csp doesn't explain important details"
As mentioned in PR #77, there are some improvements, which should be done, but which are not part of the PR:
* [x] mention in docs that time index has to be in the time zone consistent to the position defined by lat/long
* [x] In example: Here we define the timezone dataframe.index.tz_localize
* [x] leave out unused data from input data
* [x] pandas problems freq='H' with version 0.24.2
* [x] give

[2020-04-08 16:23] FranziPl opened #102 "csp facade is not explained in docu"
csp part of the docu should be extended for the facades

[2020-04-20 08:42] jnnr opened #106 "Docs: Minor flaws"
* [ ] Maybe move table to extra section at the bottom of the page?
* [ ] Loss terms are mentioned twice (not too urgent, maybe v0.03)
* [ ] Legend hard to read (lines are better and they should be thicker) (not too urgent, maybe v0.03)

[2020-04-21 08:09] SabineHaas opened #110 "Heat pump and chillers: calc_cops() parameters temp_high and temp_low: T of flow or reservoir?"
My question regards the heat pumps and chillers function `calc_cops()` and more specifically the parameters `temp_low` and `temp_high`. In the documentation they are described as "Temperature of the low/high temp. heat reservoir" ([see here](https://oemof-thermal.readthedocs.io/en/stable/compression_heat_pumps_and_chillers.html#functions)).

In [this heat pump example](https://github.com/oemof/oem

[2020-04-21 16:28] #102 closed

[2020-04-21 16:29] c-moeller commented on #93
Due to pressure of time I would suggest to shift this to v0.0.3

[2020-04-21 16:30] #96 closed

[2020-04-28 08:23] jnnr commented on #93
* csp_plant_example.py
  When plotting, matplotlib throws this warning:
  `WARNING:matplotlib.legend:No handles with labels found to put in legend.`

[2020-04-28 08:30] jnnr commented on #93
If everybody applies the above list to the examples they contributed, it should be a quick improvement.

[2020-04-28 08:35] jnnr commented on #93
I am finished with my review. I tested all examples and they run (on my computer). I collected the list above with comments.

[2020-04-28 08:36] #35 closed

[2020-04-28 09:14] c-moeller opened #112 "Investment example of solar thermal collector is not running"
I'm going to remove this from the dev and start a PR to fix this example.

[2020-04-28 12:32] c-moeller commented on #95
done

[2020-04-28 12:32] #95 closed

[2020-04-30 08:18] c-moeller commented on #93
@jnnr did you open a PR for your changes? Or are they already merged? I cannot find a PR in the closed PRs.
@MaGering will work on the todos for the rest of the examples next week.

[2020-04-30 09:41] jnnr commented on #93
I did not open a PR as I understood that you want to postpone it to the next milestone. Only collected the comments.

[2020-04-30 09:47] c-moeller commented on #93
Ah ok, then I misunderstood your comments. I thougth that you already implemented these changes in your example. Then @MaGering will look at all examples and open a new PR :+1:

[2020-04-30 20:20] c-moeller commented on #45
Mission accomplished :partying_face:
https://oemof.org/2020/04/30/oemof-thermal-v0-0-2-fancy-facades/

[2020-04-30 20:20] #45 closed

[2020-05-06 10:58] MaGering opened #116 "Outdated section 'Examples' in oemof.thermal’s documentation"
The list of available examples needs to be adjusted in the documentation:
https://oemof-thermal.readthedocs.io/en/latest/examples.html

After discussing this with @jnnr these two approaches emerged:
1. Adjusting the list of examples manually (now and every time there are changes)
2. Working with links to the components examples on GitHub and leaving the list of the specific examples out

Are there

[2020-05-11 13:28] jnnr opened #117 "Link in docs not precise"
In the documentation of the components (e.g. https://oemof-thermal.readthedocs.io/en/latest/stratified_thermal_storage.html), the link to apidocs is not very precise. I mean this section:

To learn about all parameters that can be passed to the facades, have a look at the api reference for the facade module.

We should correct this by pointing directly to the apidocs of the thermal storage (or the

[2020-05-13 08:18] jakob-wo opened #118 "Flake8 complains after I merged dev into a feature-branch"
After I merged dev into features/absorption_chillers I get the following message from Travis CI complaining about flake8 rules :

[code]

1) Can we change that variable name in the respective module?
2) Do you know why that error did not come up when the respective commit of the dev was pushed but know it pops up in the feature-branch?
3) flake8 does not give me that message when I run flake8 loca

[2020-05-14 12:21] jnnr opened #119 "Missing documentation in metapackage oemof"
A text on oemof.thermal should be added here: https://oemof.readthedocs.io/en/latest/usage.html#id2

[2020-05-18 13:10] MaGering commented on #93
Here is my proposition of unifying the comments:

- [ ] Write first word in capital letter according to pep8 in all comments
- [ ] Gather all paths at the beginning of the example after libraries import with the comment: ‚Set paths’
- [ ] ‚Read input data‘ followed by "pd.read_csv(…)"
- [ ] ‚Parameters for the precalculation’ followed by initialization of parameters in precalculation
- [ ] ‚Precal

[2020-05-26 10:51] MaGering opened #120 "Missing documentation of theoretical considerations regarding aggregation"
The issue https://github.com/oemof/oemof-solph/issues/647 describes the approach of the aggregation of domestic decentral solar thermal systems. The documentation of this approach is still missing in oemof.thermal.

[2020-05-26 14:18] MaGering opened #122 "Minor flaws in compression heat pumps and chillers docs"
In the compression heat pumps and chillers documentation the python code-block with the calculation of the COP needs to be updated. It contains an unexpected argument 'consider_icing'.

[2020-05-28 08:52] jnnr commented on #118
It seems that flake8 complaints about variables named 'l' 'O' or 'I', as they can be easily confused or read as one or zero. I changed the name in a commit on your branch. I also did not get the error locally, I did not check why this is the case.

[2020-05-28 09:06] jakob-wo commented on #118
@jnnr Thank you!
We should also adapt this in the dev brunch, right? If not I will have a merge conflict... and above all the problem with "l" in the dev brunch will remain.

[2020-05-28 09:19] jnnr commented on #118
You don't have to adapt this in the dev branch - there will be no conflict if the same line has not changed in dev (it has not changed in dev). Just proceed with the PR and merge it when it is ready. After merging, the commit will apply to the dev branch as well.

[2020-05-28 12:49] jakob-wo commented on #118
You are right - I was not aware of that.
Thanks again, you fixed the problem.
Can I close this Issue or shall we leave it open until we figured out how we have to configure flake8 locally to get an error of that type? Btw me, I did not get an error locally neither.

[2020-06-02 14:30] jnnr commented on #118
Might be that your local flake8 has another version than the remote. You could check that, e.g. here https://travis-ci.org/github/oemof/oemof-thermal/jobs/686461987#L187

 Would be good to close the issue soon.

[2020-06-03 13:57] jakob-wo commented on #118
I do not find any indication of the remote flake8 version on that link.
However, the original problem has been solved, so we might close this issue.

[2020-06-03 15:35] jnnr commented on #118
The link is specific to the line. You have to unfold at 185 "pip install -r tests/test_requirements.txt".

[2020-06-05 18:32] p-snft opened #124 "Metapackage named as dependency"
With the release of solph v0.4, the result should be oemof.solph instead of oemof.

[2020-06-10 06:50] c-moeller commented on #110
@SabineHaas I think I answered your question already on other channels. `temp_high` is the flow temperature.

I would suggest to adapt this in the docu (or at least give a hint) since it might be misleading.

[2020-06-10 07:44] c-moeller opened #126 "Validation results should be part of the documentation"
Add validation results to the documentation.

[2020-06-10 07:49] c-moeller commented on #63
@jnnr Can we close this issue? I think this is now documented in the docstrings, isn't it?

[2020-06-15 08:44] jnnr opened #127 "Import oemof.tabular's facades"
Currently, the facades in oemof.thermal inherit from a base class that has been copied from oemof.tabular. This was done in the beginning to try the concept of facades and reduce the number of imports. Now, as both packages, oemof.tabular and oemof.tabular, get used more and more, we can as well import oemof.tabular. This would help to avoid divergent developments, keep compatibilty and would be i

[2020-06-16 07:51] jakob-wo opened #128 "API facades.StratifiedThermalStorage does not include all parameters in list"
The parameter list of the facades.StratifiedThermalStorage API misses the parameters:
`label`, `initial_storage_level`, `max_storage_level`, `min_storage_level` and `invest_relation_input_capacity`, `minimum_storage_capacity`.

[2020-06-16 08:10] c-moeller commented on #127
I would suggest to shift this to v0.0.4 due to the workload in v0.0.3 and current activity in oemof-tabular. Is this ok for you?

[2020-06-16 08:15] jakob-wo opened #129 "Example on stratified thermal storage might be confusing regarding used parameters"
As far as I understand the stratified thermal storage facade has the parameter `efficiency`. In the examples I found that `stratified_thermal_storage.csv` holds the parameters `inflow_conversion_factor` and `outflow_conversion factor`. To me that is confusing because I understand all of them to have the same effect (apart from: the later differenciates between input and output).
Is that on purpose

[2020-06-16 08:40] jnnr commented on #127
It could be done within a couple of minutes. This is not a lot of work in terms of programming. It may generate some work in the future, if changes have to be coordinated with oemof.tabular. And it will also keep things easier when someone wants to use the two packages together.

It is a decision. if we need some more time for that, there is no need to hurry.

[2020-06-16 10:21] jakob-wo commented on #128
What about the `nominal_storage_capacity`, should that appear in the parameter list?
I am not sure how that variable is handled. Btw.: Is ist possible to use `nominal_storage_capacity` as a direct input parameter without calculating it from the dimensions?

[2020-06-16 10:40] jakob-wo opened #130 "Example includes outdated warning/advice"
The example stratified_thermal_storage/stratified_thermal_storage.py starts with the comment:

[code]
oemof v0.3 has been released and the comment might be confusing.

In general I would prefere all examples worked with the same set of versions/distribution instead of special requierements one need to find out by reading the source code.

[2020-06-16 11:13] c-moeller commented on #128
As far as I understood, these are parameters of the GenericStorage and therefore not described again.

[2020-06-17 07:47] jakob-wo commented on #128
Well, now that you mention it it's obvious :)
I did not realize it before for some reason...

Perhaps it would help to point out in the documentation that the facade bases on the GenericStorage. Until now the docu does not mention that but one have to look up the API and find the tiny note that facade bases on GenericStorage.

[2020-06-17 07:52] jnnr commented on #124
This might be the cause of [issue #708](https://github.com/oemof/oemof-solph/issues/708) on oemof.solph. Before closing, please check if this has been resolved as well.

[2020-06-17 08:10] #69 closed

[2020-06-17 08:10] jakob-wo opened #131 "Tests of absorption chiller module have to be moved"
I will open a PR soon and fix that!

[2020-06-17 12:33] jnnr commented on #80
After discussing again, we did not come up with a simple example using solph and emission allocation together. The existing example on emission allocation is quite illustrative and should be enough to understand how it works. Therefore, I close this issue.

[2020-06-17 12:33] #80 closed

[2020-06-17 14:29] c-moeller commented on #127
Ok, I set it back to v0.0.3

[2020-06-17 14:50] c-moeller opened #132 "Release v0.0.3"
I went through all the issues for v0.0.3 and chose only one assignee at a time so I know who the main responsible person is.

@oemof/oemof-heat
1) Please look through it promptly and change it if I am wrong.
2) Please open a **PR** for each issue (if you haven't already done so), or even an empty one first
3) Remember to fill in the **Whats-new** file in the respective PR
4) There is also the poss

[2020-06-17 15:22] jnnr commented on #128
I suggest that you come up with a text that would have helped you and makes things clearer. You can assign me as reviewer in the PR.

[2020-06-17 15:35] jakob-wo commented on #129
I would open a PR and realize the proposed improvements, if you could give me a brief feedback on the points I mentioned above, @jnnr and @c-moeller.

[2020-06-17 15:40] #118 closed

[2020-06-17 16:20] jakob-wo commented on #129
I will introduce the changes in PR #135.

[2020-06-18 09:16] jakob-wo commented on #129
In the docu it says:

Invest into nominal_storage_capacity and capacity (charging/discharging power) with a fixed ratio. Pass invest_relation_input_capacity and either storage_capacity_cost or capacity_cost.
    Invest into nominal_storage_capacity and capacity independently with no fixed ratio. Pass storage_capacity_cost and capacity_cost.

Does that mean I cannot invest in `nominal_storage_capac

[2020-06-18 09:31] jakob-wo opened #137 "Description comment in absorption_heatpumps_and_chillers.py contains mistake"
Description of module absorption_heatpumps_and_chillers.py uses link to stratified thermal storage instead linking to its own module adress.

I will fix it soon.

[2020-06-18 13:39] jakob-wo commented on #129
Related to my earlier question...
In the API of the strat. therm. storage facade it says:

What do I have to select if I want to expand the `nominal_storage_capacity` instead of the `capacity`?

[2020-06-18 13:47] c-moeller commented on #129
I'm not sure, if this answers your questions (and even not sure, if I am completely right), but here are some thoughts:
* the capacity is the term for the in- and output capacity ("Speicherleistung" in MW)
* the storage capacity is the "Speicherkapazität" in MWh
* if you set expandable=True, you leave the height of the storage open and with a given diameter a optimal storage capacity is determined

[2020-06-18 13:58] jakob-wo commented on #129
Ok, thaks for clearifying this.
In that case the API seems to be wrong because it claims that `expandable=True` allows the `capacity` to be expanded and three lines above (in the API) it defines

[2020-06-18 15:32] jnnr commented on #129
The points @c-moeller makes are correct. In case of expandable, capacity is the existing capacity. This is true for all oemof.tabular facades. If this is not well explained in the docs, we can expand it.

[2020-06-22 06:07] jakob-wo commented on #129
Well, if that is the case the docu is correct and clear.
But how do you allow the nominal storage capacity to be expanded?

[2020-06-22 06:11] jakob-wo commented on #129
@jnnr, could you give me a feedback on the questions/points I stated at the very beginning of this issue, please.
Especialy, if the example `stratified_thermal_storage_facade.py` is not solving the model on porpuse or if it should be changed.

[2020-06-22 08:20] jnnr commented on #129
You are right. The facade has only a single parameter 'efficiency'. If the user does not use the facade (as shown in stratified_thermal_storage.py, stratified_thermal_storage_investment_option_1.py, stratified_thermal_storage_investment_option_2.py), she has to pass inflow_conversion_factor and outflow_conversion_factor, which have the same value in the examples.

To make it simpler, I propose tha

[2020-06-22 08:34] jnnr commented on #129
I agree. Let's drop the beginning 'stratified_thermal_storage_'.

stratified_thermal_storage.csv  -> parameters.csv
stratified_thermal_storage_facade.py  -> facade
stratified_thermal_storage.py  -> operation
stratified_thermal_storage_investment_option_1_facade.py  -> facade_investment_fixed_ratio
stratified_thermal_storage_investment_option_1.py -> investment_fixed_ratio
stratified_thermal_storag

[2020-06-22 09:47] jakob-wo commented on #129
@jnnr: Thanks for your feedback!

1. Regarding the example names, please have a look at PR #135. There I suggested new names last week already.
2. Regarding the text from the docs that explains the difference: I have some questions about that we should clearify first, before we use them as descriptive comment. You find the open questions in this issue (4 days ago).

 Apart from that I found that i

[2020-06-22 11:08] c-moeller commented on #112
Had been fixed with v0.0.2

[2020-06-22 11:08] #112 closed

[2020-06-22 11:12] c-moeller commented on #100
@jakob-wo this topic could be related to the validation of the thermal storage

I'm going to shift this to v0.0.4 for now due to many other open issues in v0.0.3

[2020-06-22 11:47] jakob-wo commented on #100
@c-moeller I do not see a connection to the validation (with measurement data). It rather seems to be about new or adapted examples that show the differences between two models.

[2020-06-22 12:33] jnnr commented on #100
I agree with @c-moeller. It is a main motivation of validation to be able to tell if a simple model is good enough or if the next level of complexity is necessary. If two models yield pretty similar results and both fit the data, you would always choose the simpler one.

[2020-06-22 13:28] jakob-wo commented on #100
I understand your interpretation of _validation_ and I agree that a model comparision is essential but that is not what I am working on right now.
The comparision between "simple" and "complex" model is part of the docu already: [Stratified thermal storage (see Fig. 2)](https://oemof-thermal.readthedocs.io/en/latest/stratified_thermal_storage.html).
I agree that this part should be improved to hig

[2020-06-22 16:18] MaGering opened #139 "Contradictory calculation of the chiller's quality grade"
I've been recently using the chiller model and wanted to calculate the quality grade for a specific chiller using the function calc_chiller_quality_grade().

I then realized that the calculation written in the docs differs from the one implemented in the function. According to the documentation I calculate the quality grade with Q_hot_nominal in the denominator. In the function however the denomin

[2020-06-22 18:15] MaGering opened #140 "Instruction on how to install developer version is missing in README"
In the READMEs of oemof.solphs and of oemof.network there is an instruction on how to install the developer version of the repositories.

Would it be a nice to have for oemof.thermal too? And can it be installed the same way (pip install https://github.com/oemof/oemof-thermal/archive/dev.zip) as done in the above mentioned repositories?

[2020-06-23 13:13] jakob-wo opened #143 "Not clear whether inner or outer diameter should be passt to storage facade"
The API of the StratifiedThermalStorage-facade does not specify whether the inner or outer dimensions (diameter and hight) of the storage shell be passt as arguments.
For volume and storage content (`nominal_storage_capacity`) calculation it should be the inner dimensions.
For heat transfer caclulation the wall thickness and insolation should be taken into account, right? But the facades does not

[2020-06-24 06:48] jakob-wo commented on #143
I had a closer look at the use of the diameter together with @FranziPl and we realized that the consequences go further than just to point out whether the inner or outer diameter (and hight) have to be passed:
The wall of a heat storage is a bent surface (usually) therefore we have to take into account the difference between inner and outer surface when calculating the thermal resistance (calculat

[2020-06-24 06:49] jakob-wo commented on #143
@jnnr, do you think this can be considered/included in the facade component?

[2020-06-25 07:53] jakob-wo commented on #139
@MaGering: It has to be the nominal electric power consumtion, as it is implemented in the function! The mistake is in the docs. Thank you for pointing that out.

[2020-06-25 07:57] jakob-wo opened #144 "Docs contain mistake in quality_grade calculation for chillers"
The formula in the docs for the quality_grade calculation contains a mistake. Instead of Q_hot_nominal the nominal power consumtion has to be in the denominator.

PR is related to #139.

[2020-06-25 07:58] jakob-wo commented on #139
I opend a PR and will fix it.

[2020-06-25 10:17] c-moeller commented on #143
After talking to @jnnr I think it is no problem to implement this, since as far as I understand we would only need to change the function of the u value calculation. We could also think about implementing it as a second method.

@jakob-wo Would it be sufficient to approach this with v0.0.4?

[2020-06-29 15:56] MaGering opened #145 "Solar thermal energy figures are inconsistent"
While the schematic of concentrating solar power contains the conversion of normal irradiance to irradiance on a tilted surface the schematic of solar thermal collector is missing it.

Furthermore the schematics contain values that aren't used in the calculations and therefore are superfluous.

[2020-07-01 07:48] jakob-wo commented on #144
Ups... This Issue was meant to be a PR. I will close it and open a PR instead.

[2020-07-01 07:48] #144 closed

[2020-07-01 11:32] FranziPl commented on #101
I changed the points 1 to five in PR #147.

[2020-07-01 14:34] jakob-wo commented on #131
It's done!

[2020-07-01 14:34] #131 closed

[2020-07-01 16:26] #124 closed

[2020-07-01 16:31] c-moeller opened #149 "There is a SuspiciousUsageWarning"
Both solar thermal collector and concentrating solar collector throw a SuspiciousUsageWarning:

SuspiciousUsageWarning: Transformer 'solar_collector' constructed without outputs.
warn(msg.format(self), debugging.SuspiciousUsageWarning)

See also @FranziPl s comment here: https://github.com/oemof/oemof-thermal/pull/125#issuecomment-652502681

[2020-07-01 17:11] #145 closed

[2020-07-02 06:38] p-snft opened #151 "Unit tests are suspicable to rounding errors"
The unit tests for solar thermal use lp files that contain decimal representations of floating point numbers. The actual values seem to depend on the used platform, so the unit test worked for me but failed at Travis. (I now fixed it to fail at my computer, see https://github.com/oemof/oemof-thermal/pull/150/commits/7dd83eadf1f5fadb717fa591cb717b6f4c174d2f)

[2020-07-02 06:45] jakob-wo commented on #139
It is fixed!

[2020-07-02 06:48] p-snft opened #152 "Tame solar thermal devices"
Solar thermal sources generated by the facades currently have a `fix` yield. This means, all of it has to go somewhere. It would prevent energy systems from being unsolvable because of heat overproduction, when it is seen as the maximum instead or if an excess heat `Sink` is automatically added.

PR #150 implements this by setting the yields as the `max`.

What do you think, @oemof/oemof-heat?

[2020-07-02 07:03] jakob-wo commented on #130
This Issue will be dealt with in PR #135 .
Shall we move it to Milestone v0.0.4?

[2020-07-02 07:28] jakob-wo commented on #137
done.

[2020-07-02 07:28] #137 closed

[2020-07-02 07:50] jnnr commented on #130
No, this should be in v0.0.3, because it is a change related to the new oemof v0.4

[2020-07-02 08:08] jnnr commented on #130
The docs also includes a warning that should be removed.

[2020-07-02 09:39] c-moeller commented on #132
@oemof/oemof-heat I decided to do the release tomorrow, not today. So there is some time left to finish the open tasks. Please shift all issues you are not able to finish to v0.0.4 Thank you :-)

[2020-07-02 09:41] FranziPl commented on #101
I shift the 5th point to v0.0.4

[2020-07-02 10:01] #130 closed

[2020-07-02 15:35] c-moeller commented on #151
We also had this problem in the past. Don't know how we could handle this well.

[2020-07-02 15:49] #117 closed

[2020-07-02 15:50] #122 closed

[2020-07-03 08:31] MaGering commented on #139
I think there still is a mistake. Shouldn't it be T_low,nominal in the numerator of the main denominator?

Q_chilled,nominal / P_el / (**T_low,nominal** / (T_high,nominal - T_low,nominal))

[2020-07-03 09:57] #120 closed

[2020-07-03 09:58] #140 closed

[2020-07-03 14:22] #139 closed

[2020-07-03 14:44] #93 closed

[2020-07-03 17:16] c-moeller commented on #132
It's done :sunglasses:
Thank you for your contributions!

https://oemof.org/2020/07/03/oemof-thermal-v0-0-3-amazing-absorption/
https://pypi.org/project/oemof.thermal/0.0.3/

Does anyone know, why I have to 'pip install oemof.thermal==0.0.3'? It does not work with 'oemof.thermal'. Hope there is nothing wrong. I thought always the last version will be catched.

One open todo is left:
* [ ] Edit zen

[2020-07-06 07:19] jakob-wo commented on #139
@MaGering you were absolutly right! Thank you for fixing it.

[2020-07-06 10:26] uvchik commented on #132
Use 'pip install oemof.thermal --upgrade` if oemof.thermal is already installed.

[2020-08-26 07:36] c-moeller commented on #152
@p-snft This PR is done, isn't it? Can we close this issue?
And could you add a short line to the v0.0.4 WhatsNew-File?

[2020-09-01 11:21] p-snft commented on #152
It's done, thanks.

[2020-09-01 11:21] #152 closed

[2020-09-07 08:46] #132 closed

[2020-09-07 08:51] c-moeller opened #159 "Release v0.0.4"
@oemof/oemof-heat

1) Please check your issues and decide as soon as possible if they should be part of the v0.0.4 release (end of September).
2) Please open a PR for each issue (if you haven't already done so), even an empty one as a start.
3) **Remember to fill in the Whats-new file in the respective PR.**
4) The release will be on September 30th. **Deadline** for merging PRs is **29.9.**

[2020-09-08 12:24] jakob-wo commented on #51
This Issue seems not to be too relevant any more and I thnink we won't find time to work on this any more.
I propose to close this Issue. Any dissent?

[2020-09-08 12:31] jakob-wo commented on #129
I will withdraw my self-assignment because I won't have the time to work on this any more.
A feedback/review on PR #135 and the questions above are is still pending... I think it still makes sense to answer these questions and to carry on with the PR to improve the examples.

[2020-09-08 12:40] jakob-wo commented on #143
I think I made my point with this issue. Next step sould be to open a PR and fix/implement this.

[2020-09-08 12:44] jakob-wo commented on #128
@jnnr, I think it would still be interesting to clearify the handling/priorisation of parameters within the facade that can be passed directly and/or via precalculation (question/example above).

[2020-09-09 08:37] c-moeller commented on #119
Still missing in oemof readme.

[2020-09-09 08:42] c-moeller opened #160 "What's New information on v0.0.3 release is missing in documentation"
https://oemof-thermal.readthedocs.io/en/latest/whats_new.html

I have no idea why, since the file exists: https://github.com/oemof/oemof-thermal/blob/dev/docs/whats_new/v0-0.3.rst

@oemof/oemof-heat Can somebody help?

[2020-09-09 09:12] jnnr commented on #160
The filename is different to the name of the file in docs/whats_new.rst. I will open a PR.

[2020-09-09 13:02] #160 closed

[2020-09-10 09:41] jnnr commented on #127
Currently, importing from oemof.tabular would induce a version conflict:

* oemof.thermal relies on oemof.solph v0.4.0 or higher,
* oemof.tabular is still not updated to oemof.solph v0.4.0.

Therefore, we should not import from oemof.tabular. Once oemof.tabular is updated, we could decide to import from there. I removed the milestone. Shall I leave this issue open as a reminder for later?

[2020-09-10 09:54] jnnr commented on #143
This is still valid: Adapting the u-value calculation would not involve any change in the facade, as the u-value is a parameter that is passed to the facade.

* The fucntion `calculate_storage_u_value` for the u-value calculation could be adapted.
* Or it could be documented that there is a difference between inner and outer diameter and this is neglected.
* Or it could be even removed, leaving it

[2020-09-14 11:24] ChristophPelsLeusden commented on #143
The deviation is quantified in the file "Vergleich Ebene Wand - Dickwandiger Zylinder".
The order of magnitude of the deviation is comparable with: s_Iso/d.
Thus, it is right that the error is small for large storages. Nevertheless, I suggest to correct the error since we ourselves found the deviation during the validation process.
Corrections for fixing the issue have been outlined in "AP4_NK_Wae

[2020-09-16 13:15] c-moeller commented on #127
I would leave it open.

[2020-09-24 08:33] jnnr commented on #143
We found out that implementing a more detailled version that takes into account the influence of the bent lateral surface on the thermal transmittance U would require an API change. It would involve a distinction between U at the top and bottom surfaces vs. the lateral surface. As the current API only provides a single U for the whole storage, we decided that we do not change this at the moment. T

[2020-09-25 13:38] FranziPl commented on #101
Last Point is solved in PR #164.

[2020-09-25 13:38] #101 closed

[2020-09-28 08:23] jnnr commented on #128
To conclude: We can make it easier for users if we add 2 things to the docs:

* Explain in a general place in the text that facades inherit from the generic component classes of oemof.solph. In most cases, the attributes of the parent class can be passed to the facade as well.

* Explain in the docstring of StratifiedThermalStorage: The attribute :attr:`nominal_storage_capacity` should not be pass

[2020-09-29 08:22] jnnr opened #167 "Docs: Non-intuitive order of chapters"
I suggest to change the order of the docs. In my view, it makes more sense to first explain the usage and then show the validation. This would be the proposed order:

Getting started
User's guide
Model validation
Theoretical considerations
Reference

It can be done quickly so it can be included in the upcoming release.

[2020-09-29 11:34] FranziPl commented on #126
The documentation of the validation of the concentrated solar power is part of the PR #166 . So I will unassign myself, as my part of this Issue will be solved there.

[2020-09-29 11:35] FranziPl commented on #167
I am not sure about that. I think your order is intuitive, but the other one as well. Maybe I want to see the validation first, to decide, if I will use the component. So I am lucky with both versions.

[2020-09-29 12:25] jnnr commented on #167
Thanks for your opinion! I guess you can still decide which chapter to read first. But logically, at least how I understand it, the explanation of the concept of a component and how you apply it comes first before providing some evidence that it is valid when applied to real world data.

[2020-09-29 15:42] c-moeller commented on #167
I agree with @jnnr
I think the current order was not created on purpose.

[2020-09-29 15:42] c-moeller commented on #167
There is also a docs issue in oemof/oemof: https://github.com/oemof/oemof/issues/67
I think we are not up-to-date with our Getting-started-section, but I think this is nothing we could solve within oemof-heat anymore.

[2020-09-30 14:54] jnnr commented on #143
We documented the assumption in #163 and posted equations for a model that distintcs the bent and flat surfaces of the storages above. I will leave this issue open for reference but remove the milestone.

[2020-09-30 14:56] jnnr commented on #128
The above suggestions have been implemented and merged with #165

[2020-09-30 14:56] #128 closed

[2020-09-30 14:58] jnnr commented on #106
These were general remarks on the docs. We could check if they still persist. I will not have time for this soon.

[2020-09-30 15:16] c-moeller commented on #143
Does it make sense to put the explanation in the documentation? We have a section about theoretical considerations already: https://oemof-thermal.readthedocs.io/en/latest/theoretical_considerations.html

[2020-10-01 15:46] c-moeller commented on #129
@jnnr is this now fixed with you latest work? Can we close this issue?

[2020-10-01 15:50] c-moeller commented on #126
There are validation results for the heat pump and the storage are part of the documentation. The PR #166 which adds the CSP validation to the documentation is still pending because of pending data issue. I will remove the milestone v0.0.4

[2020-10-01 15:54] c-moeller commented on #110
@SabineHaas Let's do this within the GRECO project.
https://github.com/greco-project/pvcompare

[2020-10-01 16:05] c-moeller commented on #100
Could be completed within the pv-heatpump simulations in the GRECO project.

[2020-10-01 16:09] jnnr commented on #129
The major part of it is addressed.

[2020-10-02 09:51] c-moeller opened #171 "Getting started section of documentation is not in line with suggestions for oemof packages"
See oemof/oemof#67

[2020-10-02 09:51] #167 closed

[2020-10-02 09:51] c-moeller commented on #167
See https://github.com/oemof/oemof-thermal/issues/171 for further tasks

[2020-10-02 17:27] c-moeller commented on #116
done

[2020-10-02 17:27] #116 closed

[2020-10-06 20:05] ChristophPelsLeusden commented on #143
These considerations address a different issue. Thus, we should put the explanation in the doc and also document the equations to solve the issue.

[2020-10-14 16:19] c-moeller commented on #159
done :relieved:

[2020-10-14 16:19] #159 closed

[2021-01-07 09:55] MaGering opened #174 "No investment optimization of stratified thermal storage without non-zero investment.minimum possible"
I recently discovered working on a simulation of a sector-coupled energy system with a stratified thermal storage in [pvcompare](https://github.com/greco-project/pvcompare), that it is not possible to run an investment optimization without passing a non-zero value either with `investment.existing` (installed capacity) or `investment.minimum` (minimal capacity). I would like to do an investment opt

[2021-01-07 11:22] MaGering commented on #174
@oemof-developer, anyone want to take on this exciting challenge? :)
Perhaps you'll find a way to intercept `fixed_losses_absolute` before building the `energysystem` in the case described above.

[2021-01-12 08:31] p-snft commented on #174
The problem is as follows: `fixed_losses_absolute` models losses through the top and bottom side of a storage. In a stratified storage, these are independent from the energy currently stored. (Thus, they are "fixed" losses.) However, this type of losses does not make any sense at all if there is no storage. So, it makes sense to not allow for the desired combination of settings.

The only solution

[2021-01-15 17:52] MaGering commented on #174
Thank you for your answer and the explanation, @p-snft! This is also what @jnnr mentioned as a solution. Unfortunately I couldn't figure out where I should place this binary variable and decided also due to time constraints to work with `investment.minimum` instead. I'll leave this issue open however. Maybe someone will like to implement a solution someday. :)

[2021-01-19 17:54] joroeder commented on #174
The binary investment variable should be already there, if you set `nonconvex=True` in the solph option `Investment`, which creates an nonconvex investment storage (namly [here](https://github.com/oemof/oemof-solph/blob/151e0c45cf283c6a1a0a1f7b8df653d1b5b402dd/src/oemof/solph/components.py#L859) ;)). You could check the heatpipeline component, I made for the DHNx optimisation part. Please see the

[2021-01-26 20:08] MaGering commented on #174
Thanks for your answer, @joroeder! Oh wow, I was not aware of `nonconvex` so far and I'm afraid I still don't quite understand what exactly it does. Do I also need to set `investment.offset` in addition to the `minimum` and `nonconvex` parameters? I have read about this in `Investment`'s docstring...

So, did you had something like this in mind in regard to my problem?

[code]

The good news is, m

[2021-02-03 08:50] jnnr opened #176 "Travis build fails because of failing tests"
Some tests raise a FileNotFoundError https://travis-ci.org/github/oemof/oemof-thermal/jobs/735660408

e.g.

* test_calc_characteristic_temp_Kuehn()
* test_calc_characteristic_temp_Braod_xx()

Seems to have occured first when release branch was merged into dev.

[2021-02-04 19:12] #176 closed

[2021-02-11 10:17] ttjaden opened #177 "quality grade sould not be a fixed value"
Because of my switch from matlab to python I wanted to start to use oemof thermal for time series calculations with heat pumps. For the last years i used the open source toolbox Carnot 7.1 and its models. There, it is well documented that the quality grade is not a fixed value.

- Therefore it should be considered to change your heat pump model to accept pandas.dataframes or lists or arrays as inp

[2021-02-11 15:59] ttjaden commented on #177
For the WPL 13 a quadratic fit-function for the quality grade (eta) would be:

` eta = a + b*x + c*y + d*x^2 + e*x*y + f*y^2`
With
[code]
Coefficients
[code]

Goodness of fit:
[code]
After a market review of different heat pumps you could identify a representative parameter-set

[2021-02-11 18:27] jnnr commented on #177
Thanks for opening that issue! Seems like there are some refinements that could be made for the heat pumps.

1) Allowing to pass time series of quality grade: Should not be too big a thing. Requires a bit of rewriting of `calc_cops`, but certainly possible. I don't have much time for this, but maybe someone else or you?

2) Adding a function to calculate quality grades from temperature: I am not t

[2021-03-02 09:11] p-snft opened #179 "Release v0.0.5"
I would like to have a new release soon, at least to get rid of dependency issues caused by the upper version limits.

[2021-03-08 10:59] sasanjac commented on #151
The instance that generates and verifies the lp files should round the values before saving. The tests can then check against these rounded values.

[2021-09-27 07:59] ttjaden commented on #177
Hi! Just wanted to let you know, that we finished the "hplib - heat pump library". Please have a look. I guess, it could be an easy solution for you to switch to this model.

https://github.com/RE-Lab-Projects/hplib/releases/tag/v1.1

Right now, we have to things on the "TODO" list:
- make hplib pip installable
- allow the simulate function to work with single values AND pd.series or arrays

[2021-11-15 18:54] p-snft commented on #179
Done: https://github.com/oemof/oemof-thermal/releases/tag/v0.0.5

[2021-11-15 18:54] #179 closed

[2022-02-18 16:19] FrancisMe1 opened #181 "NonConvex in Stratified Thermal Storage"
Good afternoon to everybody,

I'm working with the Stratified Thermal Storage component and I'm having some troubles. I would like to implement an economy of scale for the component, in order to account for different costs at different sizes. How can I do it? The NonConvex options doesn't work for me, maybe I'm setting something wrong. The other option is to give different sizes in input with asso

[2022-02-21 07:53] p-snft commented on #181
As a quick solution in terms of implementation, you could use that the underlying problem is convex. So, you start investment optimisation at an arbitrary size with the associated linearised specific cost (e.g. in € per additional m³). Then iterate with the resulting optimal sizes and corresponding linearised costs and you are done. If a bigger storage is worth the investment without economy of sc

[2022-02-21 16:41] p-snft commented on #181
Assume that the price is

* C(V) = 2 * ln(V/(1 m³)) €,

so the specific cost (slope) is

* d/dV[C(V)] = 2/V €/m³.

Now, you guess a size, i.e. 3 m³ and start optimisation with 2/3 €/m³. When the optimiser finds an optimal size of 5 m³, use 0.4 €/m³, and so on. At some point, the change between two runs should become small enough so that you can decide to stop.

[2022-02-21 17:16] FrancisMe1 commented on #181
thank you!

[2022-04-20 20:34] LuixLore opened #182 "Source of "data_flat_collector.csv"?"
Hello community,

i was wondering if someone could tell me from which weather station the solar data is taken from in the example [here ](https://github.com/oemof/oemof-thermal/tree/dev/examples/solar_thermal_collector)? I updated the input  "data_flat_collector.csv" to the hourly radiation data taken from the weather station in Braunschweig 2021 published from the DWD and the results within the d